h1{
    background-color: aqua;
    padding: 1rem;
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 250px;
    height: 300px;
}
